* {
  margin: 0;
  padding: 0;
  background-color: black;

}

.container {

  color: red;
  overflow: hidden;
  display: flex;
}

img {
  width: 30%;
  height: 95vh;

}

.wrapper {
  margin: auto;
  color: black;
  background-color: white;
  width: 40%;
  height: 50vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border-top: 25px solid blue;
  border-right: 25px solid red;
  border-left: 2px solid green;
  border-bottom: 9px solid black;
  ;
}

.i1 {
  background-color: black;
  color: rgb(189, 27, 108);
  background-color: antiquewhite;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.i2 {
  margin-top: 20px;
  width: 75%;
  color: rgb(63, 60, 164);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  background-color: white;
}

.i3 {
  border-radius: 10px;
  background-color: #f14c78;
  width: 20%;
  height: 10%;
  font-weight: 10px;
  color: yellow;

}

.i4 {
  background-color: white;
  color: green;
}

.i5 {
  background-color: antiquewhite;
  /* border: 2px solid green; */
}